
.laserConfigDiv
{
	border:solid 2px red;
}
.coreContainer
{
	border:solid 2px blue;
}
.cytometerContainer
{
	border:solid 2px green; 
}







#cytometerConfigBuilderDiv
{ 	border:solid red 2px;
	padding:5px;
	margin:5px;
}
.flowCytometer
{	border:solid green 2px;
	padding:5px;
	margin:5px;
}
#laserContainer
{	border:solid blue 2px;
	padding:5px;
	margin:5px;
	
}
.lightSource
{	border:solid orange 2px;
	padding:5px;
	margin:5px;
	
}
.detectorContainer
{	border:solid violet 2px;
	padding:5px;
	margin:5px;
}
.detectorDetails
{	border:solid lime 2px;
	padding:5px;
	margin:5px;
}
form
{	border:solid black 2px;
	padding:5px;
	margin:5px;
	
}
