<!-- BEGIN PAGE TITLE & BREADCRUMB-->
<h1>BEGIN PAGE TITLE & BREADCRUMB</h1>
{{ if template:has_breadcrumbs }}
    {{ if theme:options:show_breadcrumbs == 'yes' }}
        <p class="breadcrumbs">
        {{ template:breadcrumbs }}
			{{ if uri }}
				{{ url:anchor segments=uri title=name }}&nbsp;>&nbsp;
			{{ else }}
				<span class="current">{{ name }}</span>
			{{ endif }}
		{{ /template:breadcrumbs }}
		</p>
	{{ endif }}
{{ endif }}
          <!-- <h3 class="page-title"> Blank Page <small>blank page</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-home"></i> <a href="index.html">Home</a> <i class="icon-angle-right"></i> </li>
            <li> <a href="#">Registration</a> <i class="icon-angle-right"></i> </li>
          </ul>-->
<!-- END PAGE TITLE & BREADCRUMB--> 
<h1>END PAGE TITLE & BREADCRUMB</h1>