.chats {
  margin: -15px 0 0;
  padding: 0;
}
.chats li {
  font-size: 12px;
  list-style: none outside none;
  margin: 10px auto;
  padding: 5px 0;
}
.chats li img.avatar {
  border-radius: 50% 50% 50% 50% !important;
  height: 45px;
  width: 45px;
}
.chats li.in img.avatar {
  float: left;
  margin-right: 10px;
}
.chats li .name {
  color: #3590C1;
  font-size: 13px;
  font-weight: 400;
}
.chats li .datetime {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}
.chats li.out img.avatar {
  float: right;
  margin-left: 10px;
}
.chats li .message {
  display: block;
  padding: 5px;
  position: relative;
}
.chats li.in .message {
  background: none repeat scroll 0 0 #FAFAFA;
  border-left: 2px solid #35AA47;
  margin-left: 65px;
  text-align: left;
}
.chats li.in .message .arrow {
  border-bottom: 8px solid transparent;
  border-right: 8px solid #35AA47;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -8px;
  position: absolute;
  top: 5px;
  width: 0;
}
.chats li.out .message .arrow {
  border-bottom: 8px solid transparent;
  border-left: 8px solid #DA4A38;
  border-top: 8px solid transparent;
  display: block;
  position: absolute;
  right: -8px;
  top: 5px;
}
.chats li.out .message {
  background: none repeat scroll 0 0 #FAFAFA;
  border-right: 2px solid #DA4A38;
  margin-right: 65px;
  text-align: right;
}
.chats li.out .name,
.chats li.out .datetime {
  text-align: right;
}
.chats li .message .body {
  display: block;
}
.chat-form {
  background-color: #E9EFF3;
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 10px;
}
.chat-form .input-cont {
  margin-right: 0px;
}
.chat-form .input-cont .m-wrap {
  margin-bottom: 0;
}
.chat-form .input-cont input {
  border: 1px solid #DDDDDD;
  margin-top: 0;
  width: 100%;
}
.chat-form .input-cont input {
  background-color: #FFFFFF !important;
}
.chat-form .input-cont input:focus {
  border: 1px solid #4B8DF9 !important;
}
.chat-form .btn-cont {
  float: right;
  margin-top: -42px;
  position: relative;
  width: 44px;
}
.chat-form .btn-cont .arrow {
  -moz-box-sizing: border-box;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #4D90FE;
  border-top: 8px solid transparent;
  position: absolute;
  right: 43px;
  top: 17px;
}
.chat-form .btn-cont:hover .arrow {
  border-right-color: #0362FD;
}
.chat-form .btn-cont:hover .btn {
  background-color: #0362FD;
}
.chat-form .btn-cont .btn {
  margin-top: 8px;
}
