<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top"> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <div class="container-fluid"> 
      <!-- BEGIN LOGO --> 
      <a class="brand" href="index.html"></a> 
      <!-- END LOGO --> 
      <!-- BEGIN TOP NAVIGATION MENU -->
      <ul class="nav pull-right">
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown user"> {{ if settings:enable_profiles }} <a href="{{ url:site uri='my-profile' }}" class="dropdown-toggle" data-toggle="dropdown">{{ helper:gravatar email=user:email size="32" }}<span class="username">{{ user:display_name }}</span></a> {{ else }}
          {{ helper:gravatar email=user:email size="20" }} {{ user:display_name }} <i class="icon-angle-down"></i> {{ endif }}
          {{ if user:logged_in }}
          <ul class="dropdown-menu">
            {{ if settings:enable_profiles }}
            <li><a href="{{ url:site uri='edit-profile' }}"><i class="icon-user"></i> {{ helper:lang line="edit_profile_label" }}</a></li>
            {{ endif }}
            {{ if user:has_cp_permissions }}
            <li><a href="{{ url:site uri='admin' }}" target="_blank"><i class="icon-tasks"></i> {{ helper:lang line="global:control-panel" }}</a></li>
            {{ endif }}
            <li class="divider"></li>
            <li><a href="{{ url:site uri='users/logout' }}"><i class="icon-key"></i> {{ helper:lang line="logout_label" }}</a></li>
          </ul>
          {{ endif }} </li>
        <!-- END USER LOGIN DROPDOWN -->
      </ul>
      <!-- END TOP NAVIGATION MENU --> 
    </div>
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>
<!-- END HEADER --> 
<!-- BEGIN SUB HEADER 
<div id="sub-banner">
  <div class="container">
    <div class="span12"> </div>
  </div>
</div>-->
<!-- END SUB HEADER --> 
<!-- BEGIN HORIZANTAL SUB MENU 
<div class="container-fluid">
            <div class="navbar">
               <div class="navbar-inner">
                  <ul class="nav">
                     <li><a href="#">Dashboard</a></li>
                     <li class=""><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"><span class="selected"></span>Layouts<span class="arrow"></span></a>
                     	<ul class="dropdown-menu">
                           <li><a href="#">Horzontal &amp; Sidebar Menu</a></li>
                        </ul>
                        <b class="caret-out"></b>                        
                     </li>
                     <li>
                        <a href="#">Tables</a>
                     </li>
                  </ul>
               </div>
            </div>-->
            <!-- END HORIZANTAL MENU -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                      
            <!-- END RESPONSIVE MENU TOGGLER -->            
            <!-- BEGIN TOP NAVIGATION MENU -->              
            
            <!-- END TOP NAVIGATION MENU --> 
         </div>
<!-- END HORIZANTAL MENU --> 
<!-- END -->
<!--
<div class="user-nav-row">
  <div class="container">
    <div id="user-navbar" class="navbar">
      <div class="container">
        <div class="user-menu">
          <ul class="nav">
            <ul class="nav nav-tabs">
              <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">My Fluorish<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Communicate</a></li>
                  <li><a href="#">Join Cores and Labs</a></li>
                  <li><a href="#">Orders</a></li>
                  <li><a href="#">My Profile</a></li>
                </ul>
              </li>
            </ul>
            <li><a href="#">Panels</a></li>
            <ul class="nav nav-tabs">
              <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Cores<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Instrument</a></li>
                  <li><a href="#">Schedule</a></li>
                </ul>
              </li>
            </ul>
            <li class="active"><a href="#">Labs</a></li>
            <li><a href="#">Search Reagents</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
          <ul class="nav pull-right">
            <li class="active"><a href="#">Cart</a></li>
            <li><a href="#">Account</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <ul class="nav nav-tabs sub">
      <li><a href="#">Reagent Inventory</a></li>
      <li><a href="#">Consumable Inventory</a></li>
      <li><a href="#">Schedule Lab Equipment </a></li>
    </ul>
  </div>
</div>
-->